{{define "createContact"}}
<!DOCTYPE html>
<html>

<head>
    <title>Create Contact 11</title>
    <link rel="stylesheet" href="/static/site.css" />
</head>

<body>
    <section>
        <div class="main">
            <h4>Create new contact</h4>
            <form method="post" action="/insert">
                <div class="row">
                    <label>Name</label>
                    <input type="text" placeholder="insert name" name="name" required />
                </div>
                <div class="row">
                    <label>Phone</label>
                    <input type="text" placeholder="insert phone" name="phone" required />
                </div>
                <input type="submit" value="Submit"/>
                <a href="/" class="btn-bahaya">Cancel</a>
            </form>
        </div>
    </section>

</body>

</html>
{{end}}